<div>
  <h2>Phone Verification</h2>
  <!-- <form (submit)="sendOtp()">
    <input
      type="text"
      [(ngModel)]="phoneNumber"
      name="phoneNumber"
      placeholder="Enter phone number"
      required
    />
    <button type="submit">Send OTP</button>
  </form>

  <form *ngIf="otpSent" (submit)="verifyOtp()">
    <input
      type="text"
      [(ngModel)]="otp"
      name="otp"
      placeholder="Enter OTP"
      required
    />
    <button type="submit">Verify OTP</button>
  </form> -->

  <div id="recaptcha-container"></div>
</div>
